.flex1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #060c21;
  margin: 40px;
}

.box1:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

.box1:nth-child(1):before,
.box1:nth-child(1):after
{
  background: linear-gradient(235deg, #bdf2d5, #7ad9f5, #5d13e7);
}

.box1:nth-child(2):before,
.box1:nth-child(2):after
{
  background: linear-gradient(235deg, #0f4c75, #3282b8, #bbe1fa);
}

.box1:nth-child(3):before,
.box1:nth-child(3):after
{
  background: linear-gradient(235deg, #6c7b95, #8bbabb, #c7f0db);
}


.box1 .glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: block;

  pointer-events: none;
}

.box1 .content {
  padding: 20px;
  color: #fff;
}

.box1:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
  filter: blur(40px);
}

.contactez {
  padding-bottom: 20px !important;
}
